@font-face {
    font-family: 'Golos';
    src: url('assets/fonts/golosText/GolosText-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/raleway/Raleway-Regular.ttf');
    font-weight: normal;
}

#root {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: start;
    background-color: #FCFEF1;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 130px;
}

a {
    text-decoration: none;
    color: inherit;
}

.swiper-button-prev {
    color: #574F4F;
}

.swiper-button-next {
    color: #574F4F;
}

.swiper-pagination-bullet-active {
    background: #574F4F;
}