@font-face {
    font-family: 'Golos';
    src: url('assets/fonts/golosText/GolosText-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/raleway/OpenSans-Regular.ttf');
    font-weight: normal;
}

#root {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: start;
    background-color: #FCFEF1;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 130px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*переопределение стилей swiper*/
.swiper-button-prev {
    color: #574F4F;
}

.swiper-button-next {
    color: #574F4F;
}

.swiper-pagination-bullet-active {
    background: #574F4F;
}

/*переопределение стилей gravity ui*/
.g-text-input__label {
    font-size: 15px !important;
    line-height: normal;
    font-family: 'Golos', serif !important;
    text-align: justify !important;
}

.g-text-input__control {
    font-size: 15px !important;
    line-height: normal;
    font-family: 'Raleway', serif !important;
    text-align: justify !important;
}

.g-select-control__button {
    font-size: 15px !important;
    line-height: normal;
    font-family: 'Golos', serif !important;
    text-align: justify !important;
}

.g-checkbox_checked .g-checkbox__indicator::before, .g-checkbox_indeterminate .g-checkbox__indicator::before {
    background-color: #47D072;
}

.g-flex {
    align-self: center;
}

.g-alert__icon {
    align-self: center;
}

.g-list__item_selected {
    background-color: #47D072 !important;
}

.g-select-list__option_colored {
    background-color: #47D072 !important;
    color: white !important;
}